<form (ngSubmit)="onSubmit()" #accountForm="ngForm">
    <fieldset class="form-fieldset">
        <legend>Add Account</legend>
        <div class="form-group">
            <label for="accountNumber">Account Number</label>
            <input type="number" class="form-control" id="accountNumber"
                required
                [(ngModel)]="account.accountNumber" name="accountNumber"
                #accountNumber="ngModel">
            <div [hidden]="accountNumber.valid || accountNumber.pristine" class="alert alert-danger">
                Account Number is required
            </div>
        </div>
        <div class="form-group">
            <label for="holderName">Account Name</label>
            <input type="text" class="form-control" id="holderName"
                required
                [(ngModel)]="account.holderName" name="holderName"
                #holderName="ngModel">
            <div [hidden]="holderName.valid || holderName.pristine" class="alert alert-danger">
                Account Holder Name is required
            </div>
        </div>
        <div class="form-group">
            <label for="accountType">Account Type</label>
            <input type="text" class="form-control" id="accountType"
                required
                [(ngModel)]="account.accountType" name="accountType"
                #accountType="ngModel">
            <div [hidden]="accountType.valid || accountType.pristine" class="alert alert-danger">
                Account Type is required
            </div>
        </div>
        <div class="form-group">
            <label for="name">Account Balance</label>
            <input type="number" class="form-control" id="accountBalance"
                [(ngModel)]="account.accountBalance" name="accountBalance"
                #accountBalance="ngModel">
        </div>
        <div class="action-buttons">
            <button type="submit" class="btn btn-success" [disabled]="!accountForm.form.valid">Submit</button>
            <button type="button" class="btn btn-default" (click)="clearForm(); accountForm.reset()">Clear</button>
        </div>
    </fieldset>
</form>
