<ng-content select="[slot='header']"></ng-content>
<div class="list-container">
    <table id="accountList" class="account-table">
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Customer Name</th>
                <th>Account Type</th>
                <th>Account Balance</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngIf="accounts.length; else noAccountFound">
            <tr *ngFor="let account of accounts">
                <td>{{account.accountNumber}}</td>
                <td>{{account.holderName}}</td>
                <td>{{account.accountType}}</td>
                <td>{{account.accountBalance}}</td>
                <td><input type="radio" name="selectedAccount" (change)="onSelectAccount(account)" [value]="account.accountNumber" [checked]="this.selectedAccountNumber === account.accountNumber"></td>
            </tr>
        </tbody>
        <ng-template #noAccountFound>
            <!-- <div class="no-account-found">
                No Accounts found to display!
            </div> -->
            <tbody>
                <tr>
                    <td align="center" colspan="5">No Accounts found to display!</td>
                </tr>
            </tbody>
        </ng-template>
    </table>
</div>
<ng-content select="[slot='footer']"></ng-content>