body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}
fieldset {
    background-color: #eeeeee;
    width: 675px;
}
legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
}
.form-group label {
    width: 200px;
    display: inline-block;
    padding: 10px 0;
    font-weight: 600;
}
.action-buttons {
    margin-top: 10px;
}
.action-buttons button {
    background-color: #c9b459;
    color: #FFF;
    padding: 3px 5px;
    border: none;
    margin: 0 15px 0 5px;
}
.alert {
    color: red;
    font-style: italic;
}